<header>
    <nav>
        <a class="nav-main" href="/">
            <img src="/images/icons/cinema.png" height="20" width="20">
            <h1>Головна</h1>
        </a>
        <form action="/search" method="get" class="">
            <input type="text" name="query" placeholder="Search..." class="nav-search-input">
            <input type="submit" class="nav-search-button" value="">
        </form>
        <ul class="">
            <li><a href="/schedule" class="h nav-button">Розклад</a></li>
            <li><a href="/films" class="h nav-button">Фільми</a></li>
            <li><a href="#" class="h nav-button">Про нас</a></li>
            <li><a href="/login" class="h nav-profile">
                <img src="/images/icons/profile.png" height="50" width="50">
            </a></li>
        </ul>
    </nav>
</header>