
.adding-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}
.component{
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: start;

    flex-grow: 1;
    flex-basis: calc(100% / 4);
}

main .textbox{
    min-width: 0;
    font-size: 16px;
    margin-top:10px;
}

textarea.textbox{
    border-radius: 5px;
    font-size: 12px;

    resize: none;
    min-width: 400px;
    min-height: 300px;
}
select.textbox {
    border-radius: 5px;
    font-size: 14px;

    min-height: 300px;
    appearance: none;
    cursor: pointer; 
}

.button-container{
    width: 100%;
    text-align: end;
}

label{
    text-align: center;
}