@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
}

body {
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 1300px;
  margin: 50px auto;
  background: rgb(94,94,94);
  background: linear-gradient(135deg, rgba(94,94,94,1) 0%, rgba(14,27,73,1) 100%);
  border-radius: 20px;
}


nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items:center;
}

.nav-main{
  display: flex;
  align-items: center;
  padding: 12px;

  margin: 4px;
  border-radius: 10px;
  margin-left: 5px;
  color: black;
  text-decoration: none;
}
.nav-main img{
  margin-right: 10px;
}
.nav-button{
  margin: 4px;
  border-radius: 10px;
  display: inline-block;
}
.nav-button:hover, .nav-main:hover{
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.nav-button{
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  display: inline-block;
  padding: 16px;
}

.nav-search-input{
  padding: 5px 10px;
  border-radius: 50px;
  min-width: 300px;
  background-color: rgba(255, 255, 255, 0.1);

  /* font-family: 'Montserrat', sans-serif; */
  font-size: 20px;
}
.nav-search-input::placeholder{
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: bold;
  color: black;
}
.nav-search-input:hover{
  background-color: rgba(255, 255, 255, 0.2);
}
.nav-search-button{
  padding: 15px;
  height: 17px;
  width: 17px;
  background-image: url('/images/icons/search.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

nav form{
  display: flex;
  align-items: center;
}

main {
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.h{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.nav-profile{
  margin: 0 15px;
  display: inline-block;
}
.nav-profile:hover{
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  transform: scale(1.1);
}






/* .nav-search-button{
  position: absolute;
  left: 5px;
}
.nav-search-input{
  width: 41px;
  min-width: 0;
  transition: transform 0.9s ease-in-out;
}
nav form{
  position: relative;
  width: 41px;
}

.nav-search-input:hover{
  width: auto;
  min-width: 300px;

} */