main{
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.container {
    width: 30%;
    margin: 50px auto;
    background: rgb(231, 210, 210);
    padding: 30px;
}
.container__login{
    min-height: 30% !important;
}
@media only screen and (max-width:1439px){
    .container__login{
        width: 60% !important;
        min-height: 20% !important;
    }
  }
  @media only screen and (max-width:1250px){
    .container__login{
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media only screen and (max-width:767px){
    .container__login{
      grid-template-columns: repeat(2, 1fr);
    }
  }
.login-form{
    display: flex;
    flex-direction: column;
}
.login-form div{

    margin-bottom: 10px;
}
.textbox{
    padding: 5px 10px;
    border-radius: 50px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 18px;
}
.login-form label{
    display: block;
    width: 100%;
    font-size: 1.5vw;
}

@media only screen and (max-width:1439px){
    .login-form label{
        font-size: 2vw;
    }
  }
  @media only screen and (max-width:1250px){
    .login-form label{
        font-size: 3vw;
    }
  }

.buttons{
    display: flex;
    justify-content: space-evenly;
}

.error{
    margin-bottom: 10px;
    text-align: center;
}