table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}

tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.15);
    color: white;
}
  
td {
    font-size: 17px;
    padding: 8px;
    font-weight: 400;
}
  
th {
    background-color: rgba(194, 144, 228, 0.5);
    padding: 8px;
}
  
tr{
    background-color: rgba(237, 203, 244, 0.801);
}

  
.ticket-button {
  display: block;
  background-color: #bf66d7;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  margin: 10px auto;
  font-size: 16px;
  transition: all 0.3s ease;
}

.ticket-button:hover {
    background-color: #bf66d7;
}
