<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/css/index.css">

    <link rel="stylesheet" href="/css/films.css">
  </head>
  <body>
    <div class="container">
      <header th:replace="~{fragments/header :: header}"></header>
      <main class="box">
        <h2 th:text="${h2}" class="h"></h2>
        <section class="film-card">
          <th:block th:each="film : ${films}">
            <a th:href='${"/films/" + film.id}' class=" box">
              <div>
                <h3 th:text="${film.filmName()}" class="h"></h3>
              </div>
              <img th:src="${film.image()}" height="300", width="225">
            </a>
          </th:block>
        </section>
      </main>
    </div>
  </body>
</html>    
