<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <title>Редагування фільму</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/modal-window.css">
    <link rel="stylesheet" href="/css/admins.css">
    <style>
        .textbox[type="text"]{
          min-width: 100%;
        }
    </style>
  </head>

  <body>
    <div class="container">
      <header th:replace="~{fragments/header :: header}"></header>
      <main class="box">

        <form class="adding-form box" method="post" th:action='${"/api/admins/films/" + film.id}' id="adding-form">
          <div class="component box">
            <label for="name" class="h">Назва: </label>
            <input type="text" id="name" name="name" class="textbox" th:value="${film.filmName}" required>
          </div>
          <div class="component box">
            <label for="duration" class="h">Хронометраж: </label>
            <input type="time" id="duration" name="duration" class="textbox" th:value="${film.filmDuration}" required>
          </div>
          <div class="component box">
            <label for="filmDirector" class="h">Режисер: </label>
            <input type="text" id="filmDirector" name="filmDirector" class="textbox" th:value="${film.filmDirectorFullName}" required>
          </div>
          <div class="component box">
            <label for="cast" class="h">Акторський склад: </label>
            <input type="text" id="cast" name="cast" class="textbox" th:value="${film.filmCast}" required>
          </div>
          <div class="component box">
            <label for="image" class="h">Посилання на постер: </label>
            <input type="text" id="image" name="image" class="textbox" th:value="${film.image}" required>
          </div>
          <div class="component box">
            <label for="rentalDate" class="h">Дата виходу в прокат: </label>
            <input type="date" id="rentalDate" name="rentalDate" max="{{ currentDate }}" class="textbox" th:value="${film.rentalDate}" required>
          </div>
          <div class="component box">
            <label for="description" class="h">Опис: </label>
            <textarea id="description" name="description" class="textbox" th:text="${film.description}" required></textarea>
          </div>
          <div class="component box">
            <label for="genres" class="h">Жанри: </label>
            <select id="genres" name="genres" multiple class="textbox" required>
              
            </select>
          </div>
          <div class="button-container">
            <button type="button" class="form-button" onclick="return onDeleteFilmButtonClick()">Видалити фільм</button>
            <input type="submit" value="Зберегти зміни" class="form-button">
          </div>
        </form>
        

      </main>
    </div>
    <script src="/scripts/genre-loader.js"></script>
    <script>
      const rentalDateInput = document.getElementById("rentalDate");
      const currentDate = new Date().toISOString().split("T")[0];
      rentalDateInput.setAttribute("max", currentDate);
    </script>
    <script src="/scripts/submit-handler.js"></script>
    <script src="/scripts/delete-film.js"></script>
    <script src="/scripts/adding-form.js"></script>
    <script src="/scripts/modal-window.js"></script>
  </body>
</html>    
