<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Кінотеатр</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="/css/index.css">

    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="/css/home.css">
  </head>

  <body>
    <div class="container">
        <header>
            <nav>
                <div class="nav-main">
                    <img src="/images/icons/cinema.png" height="20" width="20">
                    <a href="../"><h1>Головна</h1></a>
                </div>
                <form action="/search" method="get" class="">
                    <input type="text" name="query" placeholder="Search..." class="nav-search-input">
                    <input type="submit" class="nav-search-button" value="">
                </form>
                <ul class="">
                    <li><a href="/schedule" class="h">Розклад</a></li>
                    <li><a href="/films" class="h">Фільми</a></li>
                    <li><a href="#" class="h">Про нас</a></li>
                </ul>
            </nav>
          </header>
      <main>
        <a class="banner" href="/films">
          <h2>Дивіться найкращі фільми у нашому кінотеатрі</h2>
        </a>

        <section class="film-card">
          <h2 class="h">Наші новинки:</h3>
          <div>
            <th:block th:each="film : ${newFilms}">
              <a th:href='${"/films/" + film.id}'>
                <div>
                  <h3 th:text="${film.filmName()}" class="h"></h3>
                </div>
                <img th:src="${film.image()}" height="300", width="225">
              </a>
            </th:block>
          </div>
        </section>
        <section class="schedule">
          <h2 class="h">Найближчі кіносеанси:</h2>
          <ul>
            <th:block th:each="entry : ${nearestCinemaShowsMap}">
              <li>
                <b th:text="${#temporals.format(entry.key.dateAndTime, 'yyyy-MM-dd HH:mm')}"></b> : <span th:text="${entry.value}"></span>
              </li>
            </th:block>
          </ul>
        </section>

      </main>
    </div>
  </body>
</html>    
