<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <title>Кінотеатр</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="/css/index.css">

    <link rel="stylesheet" href="../static/css/schedule.css">
    <link rel="stylesheet" href="/css/schedule.css">

    <script th:inline="javascript" src="/scripts/schedule.js"></script>
  </head>

  <body>
    <div class="container">
    <header th:replace="~{fragments/header :: header}"></header>
    <main class="box">
        
        <table id="schedule-table">
            <thead>
              <tr>
                <th class="h">Назва фільму</th>
                <th class="h">Дата та час</th>
                <th class="h">Хронометраж</th>
                <th class="h">Номер зали</th>
                <th class="h">Тип зали</th>
                <th class="h"></th>
              </tr>
            </thead>
            <tbody id="schedule-body">

            </tbody>
        </table>
    </main>
    </div>
  </body>
</html>    
