<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <title>Редагування сеансу</title>
    <link rel="stylesheet" href="/css/index.css">

    <link rel="stylesheet" href="/css/admins.css">
    <style>
        .component{
            flex-basis: calc(100% / 6);
        }
        select.textbox{
            min-height: 0;
        }
    </style>
  </head>

  <body>
    <div class="container">
      <header th:replace="~{fragments/header :: header}"></header>
      <main class="box">

        <form class="adding-form box" method="post" th:action="${'/api/admins/shows/' + cinemaShow.id}" id="adding-form">
          <div class="component box">
            <label for="filmId" class="h">Id фільму: </label>
            <input type="text" id="filmId" name="filmId" class="textbox" required th:value="${cinemaShow.filmId}">
          </div>
          <div class="component box">
            <label for="time" class="h">Час: </label>
            <input type="time" id="time" name="time" class="textbox" required th:value="${time}">
          </div>
          <div class="component box">
            <label for="date" class="h">Дата: </label>
            <input type="date" id="date" name="date" min="{{ currentDate }}" class="textbox" required th:value="${date}">
          </div>
          <div class="component box">
            <label for="price" class="h">Початкова ціна квитків: </label>
            <input type="text" id="price" name="price" class="textbox" required th:value="${price}">
          </div>
          <div class="component box">
            <label for="hall" class="h">Зала: </label>
            <select id="hall" name="hallId" class="textbox" required>
              
            </select>
          </div>
          <div class="button-container">
            <button class="form-button" type="button" onclick="onDeleteShowButtonClick()">Видалити сеанс</button>
            <input type="submit" value="Зберегти" class="form-button" onclick="return onSubmitClick()">
          </div>
        </form>
        

      </main>
    </div>
    <script src="/scripts/hall-loader.js"></script>
    <script>
        const rentalDateInput = document.getElementById("date");
        const currentDate = new Date().toISOString().split("T")[0];
        rentalDateInput.setAttribute("min", currentDate);
    </script>
    <script src="/scripts/submit-handler.js"></script>
    <script src="/scripts/delete-show.js"></script>
    <script src="/scripts/adding-form.js"></script>
  </body>
</html>    
